body{
  background-image:url(pic5.jpg);
}
p{
  color: white;
}
h1{
  color: white;
}
hr{
  color: white;
}
ol{
  color: white;
}
ul{
  color: white;
}
form{
  color: white;
}
table{
  color: white;
}
button{
  color: white;
}
label{
  color:white;
}
small{
  color: white;
}
